/* --------------------- navbarStyle --------------------------------*/
.nav-style {
  background-color: #414858;
  border-radius: 0px;
  border: 0px; }
  .nav-style div div p span {
    color: #0E9DD9;
    font-size: 30px; }
  .nav-style div div p.navbar-brand {
    color: #fff;
    font-size: 30px;
    margin-top: 2px; }
  .nav-style div div p.navbar-brand:hover {
    color: #fff; }
  .nav-style li {
    margin-right: 10px;
    margin-top: 3px;
    font-size: 24px;
    font-weight: bold; }
  .nav-style .nav li a {
    color: #fff; }

/* ------------------ input style --------------*/
input.form-control.inputNavStyle {
  border: 2px solid #fff; }

/* ------------------ button input style --------------*/
button.navButtonStyle {
  color: #fff;
  background-color: #0E9DD9;
  border: 2px solid #fff;
  font-weight: bold; }
  button.navButtonStyle:hover {
    background-color: #fff;
    color: #0E9DD9;
    border: 2px solid #0E9DD9;
    font-weight: bold; }

/* ------------------ custom button effect --------------*/
.btn.btn-default.navbar-left.customNavbarBtn {
  margin-top: 9px;
  border: 1px solid #fff;
  margin-right: 10px;
  color: #fff;
  background-color: #0E9DD9;
  border: 2px solid #fff;
  font-weight: bold; }
  .btn.btn-default.navbar-left.customNavbarBtn:hover {
    background-color: #fff;
    color: #0E9DD9;
    border: 2px solid #0E9DD9;
    font-weight: bold; }

/* --------------------- home --------------------------------*/
body {
  background: #282931;
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;
  height: 100%;
  /* Mobile first queries */
  /* Larger than mobile */
  /* Larger than phablet */
  /* Larger than tablet */
  /* Larger than desktop */
  /* Larger than Desktop HD */ }
  body .text {
    text-align: center; }
  body .footer {
    display: flow-root;
    padding-top: 140px;
    text-align: center; }
  body #particles-js > div:nth-child(1) > div:nth-child(2) {
    margin-top: 0px;
    margin-left: 20px; }
  body canvas {
    height: 100vh;
    z-index: -10;
    position: fixed;
    top: 0px; }
  body a {
    color: #bbbbc4;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s; }
  body a:hover {
    color: #fc3565; }
  body #particles-js > div:nth-child(1) > div.row.top > div > h1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 0px 30px; }
  body #particles-js > div:nth-child(1) > div.row.top > div > div {
    text-align: center;
    font-size: 70px; }
  body #particles-js > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > a > h1:hover {
    color: #fc3565; }
  body #particles-js > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div > a > h1:hover {
    color: #fc3565; }
  body #particles-js > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > div > a > h1:hover {
    color: #fc3565; }
  body h1 {
    color: #fc3565;
    padding-bottom: 0px;
    margin-bottom: 1%; }
  body h2 {
    color: #555560;
    font-size: 3rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px; }
  body .logo {
    font-family: 'Monoton', cursive;
    color: white;
    font-size: 8rem; }
  body .logo span {
    color: #0E9DD9; }
  body .top {
    padding-bottom: 5rem; }
  body .pulled ul li {
    list-style: none;
    margin-right: 2rem;
    font-size: 1.8rem; }
  body .pulled h1 {
    color: white;
    font-size: 3rem; }
  body .pulled ul li span {
    font-size: 1.2rem; }
  body .footer {
    padding-top: 5rem; }
  body .footer p {
    color: white;
    font-size: 1.2rem; }
  body .visit {
    color: white;
    font-size: 12px;
    background: #32333a;
    width: 146px;
    padding: 6px;
    border-radius: 10px;
    position: fixed;
    right: 20px; }
  body #particles-js {
    margin-top: 122px; }
  @media (min-width: 1200px) {
    body h1 {
      font-size: 4rem; } }

.search-bar-container .well {
  background-color: #ffffee; }
.search-bar-container .search-form {
  border-radius: 30px 0 0 30px; }
.search-bar-container .input-group-btn {
  max-width: 38px;
  width: 50px; }
.search-bar-container #search {
  border: 1px;
  height: 46px; }
.search-bar-container .search-btn {
  cursor: pointer;
  border-radius: 0 30px 30px 0;
  background-color: #fff;
  color: #669; }
.search-bar-container #search-this {
  width: 100px;
  height: 46px; }
.search-bar-container .center-input {
  display: flex;
  justify-content: center; }
.search-bar-container #radio-buttons {
  color: white;
  font-size: 25px; }

/* --------------------- variables --------------------------------*/
/* --------------------- topVideos --------------------------------*/
.top-videos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.top-videos-item {
  margin: 25px;
  background-color: #363636;
  border: 1px solid #F23711; }
  .top-videos-item h4, .top-videos-item h3 {
    color: white; }

iframe {
  min-height: 300px; }

/* --------------------- Stream --------------------------------*/
.videos-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px;
  justify-content: space-around; }

h3 {
  font-size: 14px; }

h4 {
  font-size: 16px; }
  h4 span {
    font-weight: normal; }

h2 {
  text-align: center;
  margin-top: 0px;
  padding-top: 20px; }

iframe {
  min-height: 300px; }

/* --------------------- games --------------------------------*/
.games-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.game-item {
  margin: 25px; }

/* --------------------- modal --------------------------------*/
.game-modal {
  margin-top: 150px; }

.modal-body iframe {
  width: 100%; }

.modal-header {
  background-color: #414858;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

.modal-body {
  background-color: #414858; }

.modal-footer {
  background-color: #414858;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

div .modal-content {
  background: transparent; }

/* --------------------- queriesResponsive --------------------------------*/
@media (min-width: 1240px) {
  .modal-body iframe {
    min-width: 100%; }

  div.top-videos-item {
    width: 400px; }

  .videos-display div iframe {
    width: 390px; }

  .videos-display div img {
    width: 370px; } }
@media (min-width: 768px) and (max-width: 1024px) {
  div.top-videos-item {
    width: 300px; }

  .videos-display img {
    width: 270px; } }
@media (min-width: 320px) and (max-width: 768px) {
  .videos-display img {
    width: 280px; } }
/* --------------------- queriesResponsive --------------------------------*/
#toTop {
  position: relative;
  width: 200px;
  color: #FFF;
  display: block;
  text-decoration: none;
  margin: 10 auto;
  cursor: pointer;
  border-radius: 5px;
  border: solid 1px #D94E3B;
  background: #cb3b27;
  text-align: center;
  padding: 15px 30px;
  font-size: 20px;
  top: 20px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 9px 0px #84261a;
  -moz-box-shadow: 0px 9px 0px #84261a;
  box-shadow: 0px 9px 0px #84261a;
  background-color: white;
  color: #000; }

#toTop:active {
  -webkit-box-shadow: 0px 2px 0px #84261a;
  -moz-box-shadow: 0px 2px 0px #84261a;
  box-shadow: 0px 2px 0px #84261a;
  position: relative;
  top: 7px; }
