/* --------------------- navbarStyle --------------------------------*/
.nav-style {
  background-color: #414858;
  border-radius: 0px;
  border: 0px; }
  .nav-style div div div p span {
    color: #0E9DD9;
    font-weight: bold;
    font-size: 24px; }
  .nav-style div div div p.navbar-brand {
    color: #fff;
    font-size: 24px;
    margin-top: 2px; }
  .nav-style div div div p.navbar-brand:hover {
    color: #fff; }

/* ------------------ input style --------------*/
input.form-control.inputNavStyle {
  border: 2px solid #fff; }

/* ------------------ button input style --------------*/
button.navButtonStyle {
  color: #fff;
  background-color: #0E9DD9;
  border: 2px solid #fff;
  font-weight: bold; }
  button.navButtonStyle:hover {
    background-color: #fff;
    color: #0E9DD9;
    border: 2px solid #0E9DD9;
    font-weight: bold; }

/* ------------------ custom button effect --------------*/
.btn.btn-default.navbar-left.customNavbarBtn {
  margin-top: 9px;
  border: 1px solid #fff;
  margin-right: 10px;
  color: #fff;
  background-color: #0E9DD9;
  border: 2px solid #fff;
  font-weight: bold; }
  .btn.btn-default.navbar-left.customNavbarBtn:hover {
    background-color: #fff;
    color: #0E9DD9;
    border: 2px solid #0E9DD9;
    font-weight: bold; }

.navbar-custom ul {
  display: flex;
  list-style: none; }

/* --------------------- variables --------------------------------*/
/* --------------------- topVideos --------------------------------*/
.top-videos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.top-videos-item {
  margin: 25px;
  background-color: #363636;
  border: 1px solid #F23711; }
  .top-videos-item h4, .top-videos-item h3 {
    color: white; }

/* --------------------- Stream --------------------------------*/
.videos-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px;
  justify-content: space-around; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }
  h4 span {
    font-weight: normal; }

h2 {
  text-align: center;
  margin-top: 0px;
  padding-top: 20px; }

/* --------------------- games --------------------------------*/
.games-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.game-item {
  margin: 25px; }
