/* --------------------- navbarStyle --------------------------------*/
.nav-style {
  background-color: #414858;
  border-radius: 0px;
  border: 0px; }
  .nav-style div div div a span {
    color: #0E9DD9;
    font-weight: bold;
    font-size: 24px; }
  .nav-style div div div a.navbar-brand {
    color: #fff;
    font-size: 24px; }

input.form-control.inputNavStyle {
  border: 2px solid #0E9DD9;
  }
