
@media (min-width: 1240px){
  .modal-body iframe{
    min-width: 100%;
  }
  div.top-videos-item{
    width: 400px;
  }
  .videos-display div iframe{
    width: 390px;
  }
  .videos-display div img{
    width: 370px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  div.top-videos-item{
    width: 300px;
  }
  .videos-display img{
    width: 270px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .videos-display img{
    width: 280px;
  }
}
