<div class="home-container">
  <div id="particles-js">
    <div class="container">
      <div class="row top">
        <div class="twelve column">
          <div class="logo">Sky <span>Stream</span></div>
          <h1 class="text">The web where you can see all the streams , games and top videos in real-time , free of cost.</h1>
        </div>
      </div>
      <div class="hello text-center search-bar-container">
        <div class="row">
          <div id="content">
            <form class='form-search center-input'>
              <div class="input-group">
                <input type='text' id='search' class="form-control search-form" placeholder="Search for a game" ng-model="query">
                <span class="input-group-addon">
                  <input type="radio" name="radio" value="games" ng-model="queryRadio.radio"><i class="fa fa-gamepad" ng-checked="true"></i>
                  <input type="radio" name="radio" value="streams" ng-model="queryRadio.radio"><i class="fa fa-video-camera"></i>
                </span>
                <span class="input-group-btn" style="width:100px">
                  <button id="search-this" type="button" class="pull-right btn btn-default search-btn" ng-click="getQuery()">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div><!-- /input-group -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
