<div class="home-container">
  <div id="particles-js">
    <div class="container">
      <div class="row top">
        <div class="twelve column">
          <div class="logo">Sky <span>Stream</span></div>
          <h1 class="text">The web where you can see all the streams , games and top videos in real-time , free of cost.</h1>
        </div>
      </div>
      <div class="hello text-center search-container">
        <div class="row">
          <div id="content">
            <div class="container col-sm-offset-2 col-sm-8">
              <div class="jumbotron">
              <h3>Choose and option and search!</h3>
                <select class="form-control query-select" ng-model="querySelect">
                  <option disabled="disabled">Choose games or streams</option>
                  <option selected="selected" value="games">Games<i class="fa fa-gamepad"></i></option>
                  <option value="streams">Streams<i class="fa fa-video-camera"></i></option>
                </select>
                <form>
                  <input ng-model="query" type="text" class="form-control input-query" placeholder="Type you search!">
                  <button ng-click="getQuery()" class="btn-block form-control button-query" type="button"><i class="glyphicon glyphicon-search"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>