@import 'variables/setVariables';

.nav-style{
  background-color: $background-blue;
  border-radius: 0px;
  border: 0px;
  div div p span{
    color: $main-blue;
    font-weight: bold;
    font-size: 24px;
  }
  div div p.navbar-brand{
    color: #fff;
    font-size: 24px;
    margin-top: 2px;
  }
  div div p.navbar-brand:hover{
    color: #fff;
  }
  li{
    margin-right: 10px;
    margin-top: 3px;
    font-size: 24px;
    font-weight: bold;
  }
  .nav li a{
    color: #fff;
  }
}
/* ------------------ input style --------------*/
input.form-control.inputNavStyle{
  border: 2px solid #fff;
}

/* ------------------ button input style --------------*/

button.navButtonStyle{
  color: #fff;
  background-color: $main-blue;
  border: 2px solid #fff;
  font-weight: bold;
  &:hover{
    background-color: #fff;
    color: $main-blue;
    border: 2px solid $main-blue;
    font-weight: bold;
  }
}

/* ------------------ custom button effect --------------*/
.btn.btn-default.navbar-left.customNavbarBtn{
  margin-top: 9px;
  border: 1px solid #fff;
  margin-right: 10px;
  color: #fff;
  background-color: $main-blue;
  border: 2px solid #fff;
  font-weight: bold;
  &:hover{
    background-color: #fff;
    color: $main-blue;
    border: 2px solid $main-blue;
    font-weight: bold;
  }
}

// se puede borrar, bootstrap ya lo utiliza:
// .navbar-custom ul{
//   display: flex;
//   list-style: none;
//   margin-top: 10px;
//   li{
//     margin-right: 10px;
//     font-size: 24px;
//     font-weight: bold;
//   }
//   li a{
//     color: #fff;
//   }
// }
