@import 'variables/setVariables';

.nav-style{
  background-color: $background-blue;
  border-radius: 0px;
  border: 0px;
  div div div p span{
    color: $main-blue;
    font-weight: bold;
    font-size: 24px;
  }
  div div div p.navbar-brand{
    color: #fff;
    font-size: 24px;
    margin-top: 2px;
  }
  div div div p.navbar-brand:hover{
    color: #fff;
  }
}
/* ------------------ input style --------------*/
input.form-control.inputNavStyle{
  border: 2px solid #fff;
}

/* ------------------ button input style --------------*/

button.navButtonStyle{
  color: #fff;
  background-color: $main-blue;
  border: 2px solid #fff;
  font-weight: bold;
  &:hover{
    background-color: #fff;
    color: $main-blue;
    border: 2px solid $main-blue;
    font-weight: bold;
  }
}

/* ------------------ custom button effect --------------*/
.btn.btn-default.navbar-left.customNavbarBtn{
  margin-top: 9px;
  border: 1px solid #fff;
  margin-right: 20px;
  color: #fff;
  background-color: $main-blue;
  border: 2px solid #fff;
  font-weight: bold;
  &:hover{
    background-color: #fff;
    color: $main-blue;
    border: 2px solid $main-blue;
    font-weight: bold;
  }
}
