.top-videos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top-videos-item {
  margin: 25px;
  background-color: $main-blue;
  // background-image: url("../img/overlay-pattern.png");
  // background-repeat: repeat;
  // background-size: auto;
  border: 1px solid $main-blue;
  padding: 1px;

  h4, h3 {
    color: white;
    // text-shadow: 0 0 0.1em #F23711, 0 0 0.1em #F23711;
  }
}

iframe{
  min-height: 300px;
}
