.videos-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px;
  justify-content: space-around;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  span {
    font-weight: normal;
  }
}

h2 {
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
}

iframe{
  min-height: 300px;
}
