.games-container {
  .games-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .game-item {
    margin: 25px;
    border: 2px solid $main-blue;
    background-color: $main-blue;
    padding: 1px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px 5px 5px 5px;
    h4,
    h3 {
      color: white;
    }
  }
}
