/*
Error: File to import not found or unreadable: variables/setVariables.
       Load path: /home/ivan/bootcamp/course/projects/week4/twitchProject/bootcamp-group-project-twitch/scss/sideBar
        on line 1 of /home/ivan/bootcamp/course/projects/week4/twitchProject/bootcamp-group-project-twitch/scss/sideBar/simpleSideBar.scss

1: @import 'variables/setVariables';
2: 
3: body {
4:    overflow-x: hidden;
5: }
6: 

Backtrace:
/home/ivan/bootcamp/course/projects/week4/twitchProject/bootcamp-group-project-twitch/scss/sideBar/simpleSideBar.scss:1
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/import_node.rb:67:in `rescue in import'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/import_node.rb:45:in `import'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/import_node.rb:28:in `imported_file'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/import_node.rb:37:in `css_import?'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:391:in `run'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/usr/share/koala/rubygems/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/usr/share/koala/bin/sass:18:in `load'
/usr/share/koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: variables/setVariables.\A        Load path: /home/ivan/bootcamp/course/projects/week4/twitchProject/bootcamp-group-project-twitch/scss/sideBar\A         on line 1 of /home/ivan/bootcamp/course/projects/week4/twitchProject/bootcamp-group-project-twitch/scss/sideBar/simpleSideBar.scss\A \A 1: @import 'variables/setVariables';\A 2: \A 3: body {\A 4:    overflow-x: hidden;\A 5: }\A 6: "; }
